.settings {
  padding: 15px 30px;
  font-size: 18px;
}
@media (max-width: 400px) {
  .settings {
    padding: 15px 15px;
    font-size: 18px;
  }
}

.settings h2 {
  margin: 0 0 20px 0;
  font-size: 1em;
}

.settings .row {
  margin: 0;
  position: relative;
  border-bottom: 1px solid var(--hr-color);
  padding-bottom: 20px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.settings .row:first-of-type {
  border-top: 1px solid var(--hr-color);
  padding-top: 20px;
}

.settings label {
  display: block;
}

.settings .help {
  display: block;
  padding-top: 8px;
  font-size: 14px;
  opacity: .6;
}

.checkbox {
  position: absolute;
  right: 0;
  top: 10px;
}

.info {
  font-size: 12px;
  color: #555;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
}

.info p {
  margin: 0;
}

.maker span {
  display: block;
}
.build small,
.build span {
  text-align: right;
  font-size: inherit;
  display: block;
}

